<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381089977341-iql96pffugssgm8r7fl6d9v7cg9e4lrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381089977341-iql96pffugssgm8r7fl6d9v7cg9e4lrq</string>
	<key>API_KEY</key>
	<string>AIzaSyA2FBTYJYieb6hXvVyG5lvHMGjwslP8eds</string>
	<key>GCM_SENDER_ID</key>
	<string>381089977341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TheReality.Report.TRR-Project-May09</string>
	<key>PROJECT_ID</key>
	<string>the-reality-report-63e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>the-reality-report-63e8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381089977341:ios:2b76092d9a293de361ff94</string>
</dict>
</plist>